<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">

      <%= image_tag 'logo-patch.png', style: 'max-width: 100%' %>
      <!--      <p>You're about to start your jorurney to excel at your career as an First Responder!</p>-->
      <!--      <p>This is the start. Responders are only allowed one account. The way that we match you with new careers depends-->
      <!--        on the pool..</p>-->
      <!--      <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
      <!--      <p>-->
      <!--        <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining-->
      <!--          essentially unchanged.-->
      <!--        </small>-->
      <!--      </p>-->

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, 'Sign in', class: 'btn btn-success block full-width m-b' %>
          </div>
          <div class="form-actions">
            <%= render partial: 'users/shared/links' %>
          </div>
        <% end %>
        <div>
          <br>
          <small>Don't Have an Account?</small>
          <br>
          <%= link_to 'Sign Up Now', new_registration_path(resource_name), class: 'btn btn-primary block full-width m-b' %>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
