<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <!--<span class="label label-success pull-right"></span>-->
        <h5 class="panel-title">Current Zipcode </h5>
      </div>
      <div class="panel-body">
        <h1 class="no-margins">
          <div class="input-group">
            <%= simple_form_for current_user, wrapper: :vertical_form,
                                wrapper_mappings: {
                                    check_boxes: :horizontal_radio_and_checkboxes,
                                    radio_buttons: :horizontal_radio_and_checkboxes,
                                    file: :horizontal_file_input,
                                    boolean: :horizontal_boolean
                                } do |f| %>
              <div class="form-inputs">
                <%= f.input :zipcode,
                            class: "form-control",
                            label: false,
                            id: 'zipcode-input responder_zipcode',
                            input_html: {pattern: '[0-9]{4}'},
                            placeholder: current_user.zipcode || '' %>

                <small><%= f.submit "Update", class: 'btn btn-xs' %></small>
                <div class="text-error"></div>
                <div id="city-state"></div>
            <% end %>
            </div>
        </h1>
        <!--<div class="stat-percent font-bold text-success">top 10% <i class="fa fa-bolt"></i></div>-->

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="label label-success pull-right"></span>
        <h5 class="panel-title">Certifications</h5>
      </div>
      <div class="panel-body">
        <h1 class="no-margins">
          <h1 class="no-margins">
            <% if current_user.acquired_certifications.any? %>
              <%= current_user.acquired_certifications.count %>
            <% else %>
              None
            <% end %>
          </h1>
          <!--          <div class="stat-percent font-bold text-success"><i class="fa fa-bolt"></i> top 10% in your area</div>-->
          <small>uploaded</small>
        </h1>
        <small>click here to <a href="">update</a>.</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title">Current Zipcode </h5>
      </div>
      <div class="panel-body">
        <h1 class="no-margins">
          <%= current_user.zipcode if current_user.zipcode %>
        </h1>
        <small>click here to <a href="">update</a>.</small>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="text-center">
      <div>
        <div class="navy-line"></div>
        <h4 class="widget-title">Follow us</h4>
        <ul class="social-nav social-center">
          <li>
            <a href="https://twitter.com/respondersnow" target="_blank" title="Twitter" rel="nofollow" class="twitter"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/RespondersNow/" target="_blank" title="Facebook" rel="nofollow" class="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/respondersnow" target="_blank" title="Instagram" rel="nofollow" class="google"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--<div class="row">-->
<!--<div class="col-lg-3">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--&lt;!&ndash;<span class="label label-success pull-right"></span>&ndash;&gt;-->
<!--<h5>Profile Completion </h5>-->
<!--</div>-->
<!--<div class="ibox-content">-->
<!--<h1 class="no-margins">40%</h1>-->
<!--&lt;!&ndash;<div class="stat-percent font-bold text-success">top 10% <i class="fa fa-bolt"></i></div>&ndash;&gt;-->
<!--<small>you must be above 75% to be listed</small>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-3">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--<span class="label label-info pull-right">Local</span>-->
<!--<h5>Current Rank</h5>-->
<!--</div>-->
<!--<div class="ibox-content">-->
<!--<h1 class="no-margins">80th Percential</h1>-->
<!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
<!--<small>in your area</small>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-3">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--<span class="label label-primary pull-right">Today</span>-->
<!--<h5>Pending Interests</h5>-->
<!--</div>-->
<!--<div class="ibox-content">-->
<!--<h1 class="no-margins">4</h1>-->
<!--<div class="stat-percent font-bold text-navy">2 <i class="fa fa-level-up"></i></div>-->
<!--<small>Agencies are awaiting a response</small>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-3">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--<span class="label label-danger pull-right">4 days left</span>-->
<!--<h5>Profile Status</h5>-->
<!--</div>-->
<!--<div class="ibox-content">-->
<!--<h1 class="no-margins">ACTIVE</h1>-->
<!--<div class="stat-percent font-bold text-success"><i class="fa fa-level-up"></i></div>-->
<!--<small>There are 120 users within 50 miles of you</small>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
