<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Certifications</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Profile</a>
      </li>
      <li class="active">
        <strong> Certifications</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title"> Documents </h5>
        </div>
        <div class="panel-body">
          <% unless current_user.acquired_certifications %>
            <h1>No Documents / No Certifications</h1>
          <% else %>
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <thead>
              <tr>
                <th>Name</th>
                <th>Date Acquired</th>
                <th class="text-center">
                  <div class="btn-group">
                    <%= link_to '/', class: 'btn btn-success btn-xs btn-outline' do %>
                      <i class="fas fa-download"></i> Download All
                    <% end %>
                    <%= link_to '/', class: 'btn btn-danger btn-xs btn-outline',
                                method: :delete,
                                confirm: 'Are you sure you want to delete this?' do %>
                      <i class="fa fa-trash"></i> Delete All
                    <% end %>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <% current_user.acquired_certifications.each do |cert| %>
                <tr class="gradeX">
                  <td><%= cert.certification.name %></td>
                  <td><%= cert.acquired_on %></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to cert.document.url, class: 'btn btn-info btn-sm btn-outline' do %>
                        <i class="far fa-file-pdf"></i> PDF
                      <% end %>
                      <%= link_to acquiredCertification_path(cert.id), class: 'btn btn-sm btn-danger btn-outline',
                                  method: :delete,
                                  confirm: 'Are you sure you want to delete this?' do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
              </table>
          <% end %>
        </div>
      </div>
      <!---->
    </div>
    <div class="col-lg-4">
      <style>
        .center-btn {
          display: flex;
          justify-content: center;
        }
      </style>
      <!-- Trigger the modal with a button -->

      <div class="text-enter center-btn">
        <button type="button"
                class="btn btn-primary btn-lg"
                data-toggle="modal"
                data-target="#myModal">
          <i class="fas fa-plus"></i> Add Certification
        </button>
      </div>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add New Certification</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for :new_cert, defaults: {inner_html: 'form-control'} do |f| %>
                <%= f.input :name, required: false %>
                <p>or</p>
                <%= f.input :certification, collection: Certification.all, required: false %>
                <%= f.input :state, collection: ['NY', 'NJ', 'PA', 'NREMT'].sort %>
                <%= f.input :number %>
                <%= f.input :file, as: :file, label: 'File Upload', inner_html: '', required: false %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>