<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>User Profile</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
      </li>
      <li>
        <a>App views</a>
      </li>
      <li class="active">
        <strong>Profile</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile Detail</h5>
        </div>
        <div>
          <div class="ibox-content">
            <%= simple_form_for(current_user, as: current_user, url: user_path(current_user), html: {method: :patch}) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :first_name, required: false %>
                <%= f.input :last_name, required: false %>
                <%= f.input :zipcode, id: 'zipcode-input responder_zipcode',
                            input_html: {pattern: '[0-9]{4}'},
                            placeholder: current_user.zipcode || '' %>
              </div>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>

                <% if current_user.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></p>
                <% end %>
                <div class="form-actions">
                  <%= f.button :submit, "Update", class: "btn btn-info" %>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Change Password</h5>
        </div>
        <div class="ibox-content">
          <% if current_user.provider %>
            <h5>Your password is managed by your <%= current_user.provider.titleize %> account</h5>
          <% else %>
            <%= simple_form_for(current_user, as: current_user, url: registration_path(current_user), html: {method: :put}) do |f| %>
              <%= f.error_notification %>

              <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

              <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
              <%= f.input :password_confirmation, required: false %>


              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn btn-info" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5> Delete my account</h5>
        </div>
        <div class="ibox-content">
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(current_user), data: {confirm: "Are you sure?"}, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row animated fadeInRight">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Subscription</h5>
        </div>
        <div class="ibox-content">
          <% if current_user.stripe_id %>
            <h3>Currently Subscribed. Automatically renews at $4.99 / month</h3>
            <button class="btn btn-danger">
              <i class=" fa fa-times-circle"></i> Cancel Subscription
            </button>
          <% else %>
            <%= render partial: "subscriptions/form" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>