<div class="row">
  <div class="col-lg-12">
    <div class="contact-box">
      <a href="">
        <div class="col-sm-4">
          <div class="text-center">
            <img alt="image" class="img-container m-t-xs img-responsive" src="<%= image_path('patch.png') %>">

          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong><%= agency.name %></strong></h3>
          <!--STAR AND END DATES-->
          <p><%= history.pretty_start %> to <%= history.pretty_end %></p>
          <p><%= history.status %> - <%= history.title %></p>
          <p><i class="fa fa-ambulance"></i> <%= agency.level.present? ? agency.level : 'EMS' %></p>
          <p>Location <%= agency.location.present? ? agency.location.address : 'No address listed' %></p>
          <address>
            <i class="fa fa-map-marker"></i>
            880 Ridgewood Ave<br>
            North Brunswick, NJ 08902<br>
            <abbr title="Phone">P:</abbr> 732-545-1525
          </address>
          <br>
          <p><i class="fa fa-ambulance"></i> Average Call Volume: 6.2/day
            <small><span class="text-danger">4% <i class="fa fa-level-down"></i></span></small>
          </p>
          <p><i class="fa fa-star"></i> Average Rate: $15.50
            <small><span class="text-success">20% <i class="fa fa-level-up"></i></span></small>
          </p>
          <p><i class="fa fa-link"></i> Work Load Score: 30
            <small>
              <span class="text-success">Higher the number, the less work you do</span>
            </small>
          </p>
          <h5>Agency Score: <span class="text-">58</span></h5>
          <div class="row">
            <%= button_to work_history_path(history), class: 'btn btn-danger btn-xs pull-right ',
                          method: :delete,
                          confirm: 'Are you sure you want to delete this?' do %>
                <i class="fa fa-trash"></i> Delete
            <% end %>
          </div>
          <!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
        </div>
        <div class="clearfix"></div>
      </a>
    </div>
  </div>
</div>

