<li class="<%= is_active_action('dashboard_2') %>"><%= link_to 'Dashboard', root_path %></li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">FAQ </span>
  </a>
</li>
<li>
  <%= link_to 'Work History', responder_work_histories_path(current_responder) %>
</li>
<li class="">
  <a href=""><i class="fa fa-th-large"></i>
    <span class="nav-label" data-i18n="nav.dashboard">Work History</span>
    <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards') %>">
    <li class="<%= is_active_action('dashboard_1') %>"><%= link_to "Add New", new_work_history_path %></li>
  </ul>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">Certifications </span>
  </a>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">Background Check </span>
  </a>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i> <span class="nav-label">Ranking </span>
  </a>
</li>
<li class="">
  <a href="#">
    <i class="fa fa-star"></i>
    <span class="nav-label">Messages <span class="label label-info pull-right">14</span></span>
  </a>
</li>