<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= image_tag 'logo-patch.png', class: "img-circle", style: 'max-width: 30%; text-align: center' %>
          </span>
          <% if current_user %>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= "#{current_user.first_name} #{current_user.last_name}" if current_user %></strong>
                <br>
                <!--<strong class="font-bold"><%#= current_user&.points %>pts</strong>-->
              </span>
            </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="<%= edit_user_url(current_user) if current_user %>">Settings</a></li>
<!--              <li><a href="#">Mailbox</a></li>-->
            </ul>
            </div>
            <div class="logo-element">
              <%= image_tag 'logo-patch.png', class: "img-circle", style: 'max-width: 100%; text-align: center' %>
            </div>
            </li>
            <%= render partial: 'users/main_nav' if current_user %>
          <% end %>
          </ul>

  </div>
</nav>