<div class="container" style="height:2000px">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div class="ibox-content">
        <h3>Welcome Responder</h3>
        <p>Create account to see it in action.</p>

        <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), defaults: {input_html: {class: 'form-control'}} do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-group">
              <%= f.input :first_name, required: true, autofocus: true, placeholder: 'first', label: false %>
              <%= f.input :last_name, required: true, autofocus: true, placeholder: 'last', label: false %>
            </div>
            <div class="form-group">
              <%= f.input :email, required: true, autofocus: true, placeholder: 'email', label: false %>
            </div>
            <div class="form-group">
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          class: 'form-control', placeholder: 'password', label: false %>
            </div>
            <div class="form-group">
              <%= f.input :password_confirmation, required: true, class: 'form-control', placeholder: 'password conformation', label: false %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, 'Sign up', class: 'btn btn-primary block full-width m-b' %>
          </div>
          <p class="text-muted text-center">
            <small>Already have an account?</small>
          </p>
          <div class="form-actions">
            <%= render partial: 'users/shared/links' %>
            <%= link_to new_user_session_path, class: 'btn btn-primary block full-width m-b' do %>
              Sign in
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    background: url(<%= image_path 'ff-background.jpeg' %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
  }
</style>
